*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #f5a819;
  /* background-color: black; */
  font-family: "Roboto Mono", monospace;
}
body {
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  /* min-width: 500px; */
  max-width: 575px;
  min-height: 10vh;
  border: 5px solid black;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto) 2fr;
  grid-template-areas:
    "display"
    "keypad";
  gap: 0px 0px;
  padding: 10px;
  background-color: #97540f;
  margin-top: 10px;
}
.calcBtn {
  cursor: pointer;
  background-color: #a5f881;
  font-size: 4rem;
  border: 3px solid black;
  margin: 2px;
  transition: all 0.1s ease;
  outline: none;
  border-radius: 10px;
}
.calcBtn:hover {
  background-color: #27eccb;
}

#display {
  grid-column: 1/-1;
  background-color: #a5f881;
  border: 5px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px 10px;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.previousOperand {
  padding-left: 5px;
  font-size: 3rem;
  font-family: "VT323", monospace;
  margin-top: 10px;
  background-color: #a5f881;
  min-height: 48px;
}
.currentOperand {
  padding-left: 5px;
  font-size: 4rem;
  font-family: "VT323", monospace;
  margin-bottom: 10px;
  background-color: #a5f881;
  min-height: 64px;
}

#keypad {
  margin: 0 auto;
  grid-area: keypad;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Clear Divide Multiply Subtract"
    "seven eight nine Add"
    "four five six Add"
    "one two three Equal"
    "Delete zero decimal Equal";
  user-select: none;
  padding: 5px;
  border: 5px solid black;
}
.selected {
  transform: scale(0.9);
  border-color: #97540f;
  box-shadow: 0 0 1rem #97540f;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #27eccb;
  background-color: #354d49cc;
  /* animation: grow 2s; */
  /* border-radius: 50%; */
}
.modal-content p {
  background-color: #000;
  color: #27eccb;
  margin: 15% auto;
  padding: 20px;
  border: 10px solid #27eccb;
  width: fit-content;
}

/*#region Grid-Area*/
#btnDelete {
  grid-area: Delete;
  font-size: 3rem;
}

#btnDivide {
  grid-area: Divide;
}

#btnMultiply {
  grid-area: Multiply;
}

#btnSubtract {
  grid-area: Subtract;
}

#btn7 {
  grid-area: seven;
}

#btn8 {
  grid-area: eight;
}

#btn9 {
  grid-area: nine;
}

#btnAdd {
  grid-area: Add;
}

#btn4 {
  grid-area: four;
}

#btn5 {
  grid-area: five;
}

#btn6 {
  grid-area: six;
}

#btn1 {
  grid-area: one;
}

#btn2 {
  grid-area: two;
}

#btn3 {
  grid-area: three;
}

#btnEqual {
  grid-area: Equal;
}

#btn0 {
  grid-area: zero;
}

#btnDecimal {
  grid-area: decimal;
}

#btnClear {
  grid-area: Clear;
}
/*#endregion Grid-Area*/
/**
  * Gyro
  *
  * @author jh3y - https://github.com/jh3y
*/
/**
  * Cyclical
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes grow {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes grow {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}

.cyclical {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  height: 50px;
  position: relative;
  width: 50px;
}
.cyclical:after,
.cyclical:before {
  -webkit-animation: grow 1.25s infinite ease;
  animation: grow 1.25s infinite ease;
  background: var(--primary);
  border-radius: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  content: "";
}
.cyclical:after {
  height: 50%;
  width: 50%;
  -webkit-transform-origin: 40% 80%;
  transform-origin: 40% 80%;
}
.cyclical:before {
  height: 75%;
  width: 75%;
  -webkit-transform-origin: -40% -80%;
  transform-origin: -40% -80%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
