*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #f5a819;
  /* background-color: black; */
  font-family: "Roboto Mono", monospace;
}
body {
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  /* min-width: 500px; */
  max-width: 500px;
  min-height: 10vh;
  border: 5px solid black;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto) 2fr;
  grid-template-areas:
    "display"
    "keypad";
  gap: 0px 0px;
  padding: 10px;
  background-color: #97540f;
  margin-top: 10px;
}
.calcBtn {
  cursor: pointer;
  background-color: #a5f881;
  font-size: 4rem;
  border: 3px solid black;
  margin: 2px;
  transition: all 0.1s ease;
  outline: none;
}
.calcBtn:hover {
  background-color: #27eccb;
}

#display {
  grid-column: 1/-1;
  background-color: #a5f881;
  border: 5px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.previousOperand {
  padding-left: 5px;
  font-size: 3rem;
  font-family: "VT323", monospace;
  margin-top: 10px;
  background-color: #a5f881;
  min-height: 48px;
}
.currentOperand {
  padding-left: 5px;
  font-size: 4rem;
  font-family: "VT323", monospace;
  margin-bottom: 10px;
  background-color: #a5f881;
  min-height: 64px;
}

/* #btnAdd {
  min-height: 200px;
} */
/* #btn0 {
  min-width: 205px;
} */

/* #btnEqual {
  min-height: 200px;
} */
#keypad {
  margin: 0 auto;
  grid-area: keypad;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Clear Divide Multiply Subtract"
    "seven eight nine Add"
    "four five six Add"
    "one two three Equal"
    "Delete zero decimal Equal";
  user-select: none;
  padding: 5px;
  border: 5px solid black;
}
.selected {
  transform: scale(0.9);
  border-color: #97540f;
  box-shadow: 0 0 1rem #97540f;
}

#btnDelete {
  grid-area: Delete;
  font-size: 3rem;
}

#btnDivide {
  grid-area: Divide;
}

#btnMultiply {
  grid-area: Multiply;
}

#btnSubtract {
  grid-area: Subtract;
}

#btn7 {
  grid-area: seven;
}

#btn8 {
  grid-area: eight;
}

#btn9 {
  grid-area: nine;
}

#btnAdd {
  grid-area: Add;
}

#btn4 {
  grid-area: four;
}

#btn5 {
  grid-area: five;
}

#btn6 {
  grid-area: six;
}

#btn1 {
  grid-area: one;
}

#btn2 {
  grid-area: two;
}

#btn3 {
  grid-area: three;
}

#btnEqual {
  grid-area: Equal;
}

#btn0 {
  grid-area: zero;
}

#btnDecimal {
  grid-area: decimal;
}

#btnClear {
  grid-area: Clear;
}
